:root {
  --bg-color: #ffffff;
  --layout-bg-color: #f5f5f5;
  --text-color: #222222;
  --primary-color: #1890ff;
  --logo-height: 40px;
}

.dark-theme {
  --bg-color: #181818;
  --layout-bg-color: #001528;
  --text-color: #eeeeee;
  --primary-color: #177ddc;
  --logo-height: 40px;
}


body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.5s, color 0.5s;
}

/* 滚动条优化 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}