:root {
  --bg-color: #ffffff;
  --layout-bg-color: #f5f5f5;
  --text-color: #222222;
  --primary-color: #1890ff;
  --logo-height: 40px;
  --hover-color: #eeeeeecc;
}

.dark-theme {
  --bg-color: #181818;
  --layout-bg-color: #001528;
  --text-color: #eeeeee;
  --primary-color: #177ddc;
  --logo-height: 40px;
  --hover-color: #222222cc;
}


body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 1s, color 1s;
}

/** 滚动条优化 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 4px;
}

/** 滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 4px;
}

/** 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}