:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --primary-color: #1890ff;
  --logo-height: 40px;
}

.dark-theme {
  --bg-color: #181818;
  --text-color: #eeeeee;
  --primary-color: #177ddc;
  --logo-height: 40px;
}


body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}
